*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* #region body */
body {
    width: 100%;
    background-color: whitesmoke;
    font-family: sans-serif;
}
/*#endregion */
/* #region header */
.header {
    display: flex;
    justify-content: left;
    height: 20px;
    margin: 8px;
}

.header-title {
    display: flex;  
}

.header__picture {
    height: 18px;
}

.header-title__text {
    font-weight: bold;
    margin-left: 5px;
}

.header-link {
    display: flex;
    margin-left: 160px;
}

.header-link__text {
    display: flex;
    margin-right: 5px;
    color: dimgray;
}

a:link {
    color: black;
    text-decoration: none;
}
/*#endregion */
/* #region main */
.main {
    display: flex;
    overflow-x: visible;
    overflow-y: hidden;
}

.section-one {
    border-radius: 10px;
    background-color: white;
    height: 196px;
    min-width: 296px;
    margin: 0 8px;
}

.section-title {
    border-bottom: 1px solid silver;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 200;
    color: dimgray;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: -0.5px;
}
/* #endregion */
/* #region section-one-top */
.section-one-top {
    display: flex;
    justify-content: space-around;
}

.section-one-top__column-one {
    padding: 8px 10px;
    margin: 10px 20px;
    width: 30%;
}

.section-one-top__column-two {
    width: 30%;
}

.section-one-top__column-three {
    padding: 8px 10px;
    margin: 10px 20px;
    width: 30%;
}

.country {
    text-align: left;
    font-weight: 300;
    font-size: 14px;
}

.section-one-top__column-two-day {
    margin: 10px auto 4px;
    text-transform: uppercase;
    color: dimgray;
    text-align: center;
    font-size: 9px;
    letter-spacing: 2px;
}

.section-one-top__column-two-time {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
/* #endregion */
/* #region section-one-bottom */
.section-one-bottom {
    display: flex;
    margin: 2px 10px 10px;
    justify-content: space-around;
    gap: 10px;
}

.section-one-bottom__column-one,
.section-one-bottom__column-two, 
.section-one-bottom__column-three {
    background-color: whitesmoke;
    border-radius: 8px;
    width: 30%;
}

.section-one-bottom__column-one-row-one {
    margin: 10px auto 1px;
    text-align: center;
    color: blue;
    font-size: 15px;
}

.section-one-bottom__column-one-row-two {
    margin: 0 auto 10px;
    text-align: center;
    color: gray;
    font-size: 10px;
}
/* #endregion */
/* #region picture */
.picture {
    width: 40px;
    height: 40px;
    margin: 0 auto 8px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
/* #endregion */
/* #region section-two-top */
.section-two {
    border-radius: 10px;
    background-color: white;
    height: 196px;
    min-width: 296px;
}

.section-two-card {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(1, 2fr 1fr);
}

.section-two-top {
    padding: 8px 10px;
    margin: 10px 20px;
}

.section-two-top__day{
    margin: 10px auto 4px;
    text-transform: uppercase;
    color: dimgray;
    text-align: center;
    font-size: 9px;
    letter-spacing: 2px;
}

.section-two-top__time {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
/* #endregion */
/* #region section-two-bottom */
.section-two-bottom {
    background-color: whitesmoke;
    border-radius: 8px;
    justify-content: space-around;
    margin-left: 10px;
}

.section-two-bottom__one {
    margin: 10px auto 1px;
    text-align: center;
    color: blue;
    font-size: 15px;
}

.section-two-bottom__two {
    margin: 0 auto 10px;
    text-align: center;
    color: gray;
    font-size: 10px;
}
/* #endregion */