*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* #region body */
body {
    width: 100%;
    background-color: whitesmoke;
    font-family: sans-serif;
}
/*#endregion */
/* #region wrapper */
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
/* #endregion */
/* #region header-wrapper */
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 0;
}

.header-title {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: space-between;
}

.header-title-icon{
    height: 16px;
}

.header-title-text {
    font-weight: bold;
}

.header-link {
    display: flex;
    gap: 4px;
    position: fixed;
    top: 8px;
    right: 8px;
}

.header-link-text {
    display: flex;
    color: dimgray;
}

a:link {
    color: black;
    text-decoration: none;
}
/* #endregion */
/* #region cards*/
.cards-wrapper {
    display: flex;
    gap: 8px;
    overflow-x: visible;
}

.card {
    border-radius: 10px;
    background-color: white;
    height: 196px;
    min-width: 296px;
}

.card-header {
    border-bottom: 1px solid silver;
    padding: 4px 8px;
}

.card-header-title {
    font-size: 12px;
    font-weight: 200;
    color: dimgray;
    text-transform: uppercase;
    letter-spacing: -0.5px;
}
/* #endregion */
/* #region card-main */
.card-main {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    gap: 8px;
    padding-bottom: 8px;
}

.card-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex: 1;
    padding: 4px;
}

.card-team-name {
    padding: 4px;
    font-size: 16px;
}

.card-team-logo {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.card-team-data-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 4px;
    align-items: center;
}

.card-team-date {
    text-transform: uppercase;
    color: dimgray;
    font-size: 8px;
    letter-spacing: 1.5px;
}

.card-team-time {
    font-size: 18px;
    font-weight: bold;
}
/* #endregion */
/* #region card-footer */
.card-footer {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    padding: 8px;
}

.card-footer-wrapper {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 0 8px 8px;
    align-items: center;
    flex: 1;
}

.card-footer-item {
    align-items: center;
    justify-content: center;
    color: blue;
    padding: 8px 8px 0;
}

.card-footer-description {
    font-size: 8px;
    color: gray;
    font-size: 12px;
    justify-content: center;  
}
/* #endregion */

.section-two-bottom {
    background-color: whitesmoke;
    border-radius: 8px;
    justify-content: space-around;
    margin-left: 10px;
}

.section-two-bottom__one {
    margin: 10px auto 1px;
    text-align: center;
    color: blue;
    font-size: 15px;
}

.section-two-bottom__two {
    margin: 0 auto 10px;
    text-align: center;
    color: gray;
    font-size: 10px;
}
/* #endregion */